<?xml version="1.0" encoding="UTF-8" ?>
<Config>
    <Application-Name>Video-Audio Player DeskFrame Application</Application-Name>
    <Discription>This is DeskFrame application.</Discription>
    <Version>v0.0.1</Version>
    <Icon>email-icon.png</Icon>
    <EXE-Name>demoapp</EXE-Name>
    <Maximize>False</Maximize>
    <Layout_Width>600</Layout_Width>
    <Layout_Height>480</Layout_Height>
    <x>100</x>
    <y>100</y>
    <!-- <Alignment>center</Alignment> -->
    <Appearence_Mode>dark</Appearence_Mode>
    <Color-Theme>blue</Color-Theme>
    <Resizable-Width>True</Resizable-Width>
    <Resizable-Height>True</Resizable-Height>
    <WindowBar>True</WindowBar>
    <BG-Transparent>False</BG-Transparent>
    <Top-Most>False</Top-Most>
    <Schedule>None</Schedule>
</Config>
